*.o
*.lo
*.la
*.out
.deps/
.libs/
.idea/
aclocal.m4
autom4te.cache/
build-aux/*
!build-aux/config.rpath
m4/
!m4/gnome-doc-utils.m4
config.log
config.status
configure
dumptypes.c
dumptypes.h
Makefile.in
Makefile
doc/*.1
INSTALL
libtool
types.h
src/gmdb2
src/help/gmdb-C.omf
